/* Resets */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  background: #f4f5fc;
}

.container {
  box-sizing: border-box;
  max-width: 1221px;
  margin: 0 auto;
  padding: 0 20px;
}
